<div ui-view>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">分组管理</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>


    <!-- <div id="menu-bar">
        <ul class="nav nav-tabs" role="tablist" id="tabs">
            <li role="presentation" ng-class="{active: $index == 0}" ng-repeat="group in groups">
              <a data-target="#{{group._id.$oid}}" aria-controls="{{group._id.$oid}}" role="tab" data-toggle="tab">{{group.name}}</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" >
      <div ng-repeat="group in groups" class="tab-pane fade in" id="{{group._id.$oid}}" ng-repeat="name in names" ng-class="{active: $index == 0}">
        <p>{{$index + 1}}</p>
      </div>
    </div> -->
    <div class="sky-tabs sky-tabs-pos-top-left sky-tabs-anim-flip sky-tabs-response-to-icons">
        
        <label for="{{group._id.$oid}}" ng-repeat="group in groups">
        <input type="radio" name="groupName" ng-checked="$index==0?true:false" id="{{group._id.$oid}}" class="sky-tab-content" ng-value="group" ng-model="$parent.current">
        <span>
        <span ng-click="showTasks($parent.current)">{{group.name}}</span>
          <a class="closeTab" type="button" ng-click="deleteItemWithConfirmation(group)">×</a>
        </span>
        </label>

        <label for="add" ng-click="addGroup()">
        <span><span><i class="fa fa-plus"></i>新增分组</span></span>

        </label>
        
    </div>
    <div style="background-color: #fff;" class="col-sm-9">
      <div style="text-align: center;" id="empty" ng-show="current.tasks.length==0">
        <div style="padding: 100px 16px 0;height: 440px;">
          <div>
            <p><i class="fa fa-info-circle" style="font-size: 4em;"></i></p>
            <p class="text">该分组下暂无页面哦~赶紧加入“{{current.name}}”里吧，<br>点击下面按钮批量添加~</p> 
            <button class="btn btn-success" ng-click="batchAdd()">批量添加</button>
          </div>
        </div>
      </div>
      <form class="form-horizontal" ng-show="current.tasks.length!=0">
    
    <div class="form-group">
      <div>
        <div class="table-responsive">

                
              <table id="mytable" class="table table-bordred table-striped head-table">
                   
                   <thead>
                   
                   <th><input type="checkbox" id="checkall" ng-model="allItemsSelected" ng-change="selectAll()"/></th>
                   <th>页面名称</th>
                   <th>URL</th>
                   <th>创建时间</th>
                   <th>操作</th>
                   </thead>
    <tbody>
    
    <tr ng-repeat="task in current.tasks" ng-class="{selected: task.isChecked}">
    <td class="text-center"><input type="checkbox" ng-model="task.isChecked" ng-change="selectTask()" /></td>
    <td>{{task.pageName}}</td>
    <td><a href="{{task.url}}" uib-tooltip="{{task.url}}">{{task.url | cut:true:20:' ...'}}</a></td>
    <td>{{task.creationTime}}</td>
    <td>
      <a href="#/dashboard/manage/task/{{task._id.$oid}}">
        <button type="button" class="btn btn-info">
          <span class="fa fa-pencil" ></span>
          编辑
        </button>
      </a>
      <button type="button" class="btn btn-warning" ng-click="deleteItemWithConfirmation(task)"><span class="fa fa-trash-o"></span>移除</button>
    </td>
    </tr>
    
    
   
    
   
    
    </tbody>
        
</table>

                
            </div>
  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-8">
    <button id="batchAdd" type="submit" class="btn btn-primary btn" ng-click="batchAdd()">批量添加</button>
    <button id="batchDelete" type="submit" class="btn btn-info btn" ng-click="batchDel()">批量移除</button>
    <button id="cancel" type="button" class="btn btn-warning btn pull-right">取消</button>

    </div>
  </div>
  <script type="text/javascript">
    $('[rel="popover"]').popover();
    $('#cancel').click(function(){
        parent.history.back();
        return false;
    });
    
    </script>
  </div>
    </form>
    </div>
    
  




</div>